<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인홈페이지</title>
    <link rel="stylesheet" href="css/import.css">
</head>
<body>
    <header>
        <div>
            <h1>
                <p>Web Designer</p>
            </h1>
            <p>꿈과 열정이 가득한 신입 개발자!</p>
            <a href=""><img src="images/icons8_facebook_32px.png" alt="Facebook" style="width: 50px; height: 50px;"></a>
            <a href=""><img src="images/icons8_github_30px.png" alt="github" style="width: 50px; height: 50px;"></a>
            <a href=""><img src="images/icons8_instagram_26px.png" alt="Instagram" style="width: 45px; height: 45px;"></a>
        </div>
    </header>
    <section>
        <h2>1. 기술 및 스택</h2>
        <ul>
            <li>
                <p>C</p>
                <div id="c" style="background-color: green; width: 650px; height: 10px;"></div>
            </li>
            <li>
                <p>HTML</p>
                <div id="html" style="background-color: green; width: 750px; height: 10px;"></div>
            </li>
            <li>
                <p>CSS</p>
                <div id="css" style="background-color: green; width: 750px; height: 10px;"></div>
            </li>
            <li>
                <p>JAVA</p>
                <div id="java" style="background-color: green; width: 450px; height: 10px;"></div>
            </li>
            <li>
                <p>jAVA Script</p>
                <div id="javascript" style="background-color: green; width: 550px; height: 10px;"></div>
            </li>
            <li>
                <p>JQUERY</p>
                <div id="jquery" style="background-color: green; width: 750px; height: 10px;"></div>
            </li>
        </ul>
        <ul>
            <li>65%</li>
            <li>75%</li>
            <li>75%</li>
            <li>45%</li>
            <li>55%</li>
            <li>75%</li>
        </ul>
    </section>
    <section>
        <div>
            <h2>2.경력</h2>
            <ul>
                <div></div>
                <li>1
                    <br></br>
                </li>
                <li>2
                    <br></br>
                </li>
                <li>3
                    <br></br>
                </li>
                <li>4
                    <br>
                        2016.03 ~ 2018.02
                        인천 폴리텍대학 정보통신과 졸업
                    </br>
                </li>
                <li>5
                    <br>
                        2021.01 ~ 2021.09
                        <br>
                            SBS아카데미 재학중
                        </br>
                    </br>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div>
            <h2>포트폴리오</h2>
            <ul class="pp">
            <li>    
                <a href="#"><img src="images/ex1.1.jpg" alt=""></a>
                <a href="#"><img src="images/ex2.1.jpg" alt=""></a>
            </li>
            </ul>
            </div>
    </section>
    <section style="background-image: url(../publish_0/images/destroyed-old-plaster-wall-picjumbo-com.jpg); height: 500px;
    background-size: cover; background-repeat: no-repeat; background-position: center;">
        <h2>Information</h2>
        <div>
        <p>Tel: 010-4913-1389</p>
        <p>email: 159pko@naver.com</p>
        <p>addr: 인천 중구 영종대로 278번길 50</p>
        </div>
        <div>
           <h2>문의하기</h2>
           <ul>
                <li>
                   <p>이름:</p>
                   <textarea name="" id="" cols="20" rows="1" style="resize:none"></textarea>
                </li>
                <li>
                   <p>이메일:</p>
                   <textarea name="" id="" cols="20" rows="1" style="resize:none"></textarea>
                </li>
                <li>
                   <p>전화번호:</p>
                   <textarea name="" id="" cols="20" rows="1" style="resize:none"></textarea>
                </li>
                <li>
                   <p>주소:</p>
                   <textarea name="" id="" cols="20" rows="1" style="resize:none"></textarea>
                </li>
                <li>
                   <p>메모:</p>
                   <textarea name="" id="" cols="25" rows="5" style="resize:none"></textarea>
                </li>
                <a href="#"><button style="width: 150px; height: 30px; border: 1px solid black; background-color: silver; margin-left: 10px; margin-top: 50px; font-size: 20px; color: white;">제출</button></a>
            </ul>
    </section>
</body>
</html>